
[data-ui="royale-amber"] {
	.win-body_ content.board {
		&[data-theme="casino"] {
			background: #453318 radial-gradient(circle at top center, rgba(#fca,.3), rgba(#000,.37));
		}
	}
}

[data-ui="royale-black"] {
	.win-body_ content.board {
		&[data-theme="casino"] {
			background: #3a3665 radial-gradient(circle at top center, rgba(#ccf,.3), rgba(#000,.37));
		}
	}
}

[data-ui="royale-emerald"] {
	.win-body_ content.board {
		&[data-theme="casino"] {
			background: #226d0f radial-gradient(circle at top center, rgba(#cfc,.3), rgba(#000,.37));
		}
	}
}

[data-ui="royale-purple"] {
	.win-body_ content.board {
		&[data-theme="casino"] {
			background: #812288 radial-gradient(circle at top center, rgba(#ccf,.3), rgba(#000,.37));
		}
	}
}

[data-ui="royale-pink"] {
	.win-body_ content.board {
		&[data-theme="casino"] {
			background: #d37fdb radial-gradient(circle at top center, rgba(#ffedfd,.3), rgba(#000,.37));
		}
	}
}
